# Database Connection
# Use host.docker.internal to connect to PostgreSQL running natively on the VM host OS.
# Format: postgresql://[user]:[password]@host.docker.internal:5432/[database]
DATABASE_URL="postgresql://postgres:Tongkung01@host.docker.internal:5432/gcp"

# Better Auth configuration
# Generate a 32+ character random string for production
BETTER_AUTH_SECRET="your-secure-random-secret-key-32-chars"
# The public URL where the frontend is accessible (e.g. https://your-domain.com)
BETTER_AUTH_URL="http://localhost:3000"

# Frontend Configuration
# URL for the backend API, usually the same domain if routed by Caddy, but during server-side fetch it can be the internal docker hostname
NEXT_PUBLIC_API_URL="http://backend:8080"
